<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Report Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  <header>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Report Dashboard
          </h1>
          <h2 class="subtitle">
            "Oh, oh, and I almost forgot. Ahh, I'm also gonna need you to go ahead and come in on Sunday, too..." - Bill Lumbergh
          </h2>
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="section">
      <div class="container">
        <h1 class="title">List of all Customers and # of Leads</h1>
        <div class="columns">
          <div class="column">
            <table class="table is-hoverable">
              <thead>
                <tr>
                  <th>Customer Name</th>
                  <th># of Leads</th>
                </tr>
              </thead>
              <tbody>
                {% for client in clients %}
                <tr>
                  <td class="clientName">{{ client.first_name }} {{ client.last_name }}</td>
                  <td class="clientLead">{{ client.lead_count }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="column">
            <form action="/search" method="POST">
              <div id="formFieldContainer" class="field is-grouped is-grouped-right">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label for="date_start" class="label">From:</label>
                  </div>
                  <div class="field-body">
                    <div class="control">
                      <input type="date" name="date_start" id="date_start" class="input">
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label for="date_end" class="label">To:</label>
                  </div>
                  <div class="field-body">
                    <div class="control">
                      <input type="date" name="date_end" id="date_end" class="input">
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button" type="submit" value="Submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">Customers and Number of new Leads</h1>
        <div id="pieChart"></div>
      </div>
    </section>
  </main>
  <script defer src="{{ url_for('static',filename='js/fontAwesome.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
  <script src="{{ url_for('static',filename='js/d3pie.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/index.js') }}"></script>
  <script>
  </script>
</body>

</html>