extends layout

block content
  form(action="/boom", method="post")
    p
      label(for="name")='Name: '
      input#name(type="text" name="name")
    p
      label(for="model")='Model: '
      input#model(type="text" name="model")
    p
      label(for="make")='Make: '
      input#make(type="text" name="make")
    p
      label(for="year")='Year: '
      input#year(type="number" maxlength="4" name="year")
    p
      input(type="submit", value="Submit")
