{% extends 'base.html' %}
{% block title %}Random Word Generator{% endblock %}
{% block content %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Random Word:
      </h1>
      <h2 class="subtitle">{{word}}</h2>
      <nav class="level">
        <div class="level-item">
          <a href="/generate/" class="button is-light is-rounded">Generate</a>
        </div>
      </nav> 
    </div>
  </div>
</section>
{% endblock content %}