<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <title>Students</title>
</head>
<body>
    <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
    </thead>
    <tbody>
    {% for student in students: %}
      <tr>
        <td>{{ student['first_name'] }}</td>
        <td>{{ student['last_name'] }}</td>
        <td>{{ student['first_name'] }} {{ student['last_name'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>