<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <title>{{ cols }} x {{ rows }} Checkerboard</title>
</head>
<body>
    <table>
    {% for i in range(rows): %}
    <tr>
      {% for j in range(cols) %}
      <td class="color{{ (i + j) % 2 + 1 }}"></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>